<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>List appliances and electricity usage</title>
  </head>
  <body>
    <div class='containers'>
      <a href='/streets'><button>Back</button></a>
      <h3>Here are all the appliances and their respective electricity usage
        rates:</h3>
      <table>
        <tr>
          <th>Appliance Name</th>
          <th>Rate</th>
        </tr>
        {{#each appliances}}
          <tr>
            <td>
              {{name}}
            </td>
            <td>
              {{rate}}
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>