<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/style.css' />
    <title>Showing all meters in a street</title>
  </head>
  <body>
    <div class='containers'>
      <a href='/streets'><button>Back</button></a>
      <table>
        <tr>
          <th>Street number</th>
          <th>Balance</th>
        </tr>
        {{#each streetMeter}}
          <tr>
            <td>
              {{street_number}}
            </td>
            <td>
              {{balance}}
            </td>
          </tr>
        {{/each}}
      </table>

    </div>
  </body>
</html>